@import "../reveal/css/reveal.css";
@import "../reveal/css/theme/beige.css";


.build-systems-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;

  img {
    width: 160px;
    height: 160px;
    object-fit: contain;
  }
}

.deploy-images {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;

  img {
    width: 160px;
    height: 160px;
    object-fit: contain;
  }
}

.travis-images {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;

  img {
    width: 400px;
    height: 400px;
  }
}

.what-can-travis-do-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding: 0;
  list-style: none;
}

.what-can-travis-do-list__item {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 300px;

  img {
    width: 500px;
    height: 800px;
  }
}

// images 

.image-500-200 {
  width: 500px;
  height: 200px;
  object-fit: contain;
}

.image-800-400 {
  width: 800px;
  height: 400px;
  object-fit: contain;
}